.radio-btn
{ 
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
  
  }
  label
  {
    font-size: 20px;
    
  }
  

