.settings-section {
    width:70%;
    border-top: 2px solid #454545;
    padding-top: 10px;
    margin-bottom: 20px;
}
.settings-title{
    color: #454545;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 25px;
    font-family:'Fira Sans', sans-serif;

}
.hovering:hover{
    opacity:0.4 ;
    display:block !important;
    cursor: pointer;
    }
    .text2{opacity:0;z-index:30;}
    .hovering:hover .text2{opacity: 1 !important;}
    .focus{

        border: blue 2.5px solid;
        
    
    
    }
    .red{color:red !important;}
    .margin_bottom{
        margin-bottom: 30px!important;
    }
    @media screen and (min-width: 750px) and (max-width:900px){
        .settings-title{
            font-size: 20px !important;
        }
        .page-title{
            font-size: 25px !important;
        }
        .titles{
            font-size: 18px !important;

        
        }
    
       .pic{
width: 200px !important;
height: 200px !important;

       }
    }
    @media screen and (min-width: 630px) and (max-width:750px){
        .settings-title{
            font-size: 17px !important;
        }
        .page-title{
            font-size: 22px !important;
        }
        .titles{
            font-size: 15px !important;

        
        }
    
       .pic{
width: 150px !important;
height: 150px !important;

       }
    }
    @media screen and (min-width:550px ) and (max-width:630px){
        .settings-title{
            font-size: 15px !important;
        }
        .page-title{
            font-size: 20px !important;
        }
        .titles{
            font-size: 13px !important;

        
        }
    
       .pic{
width: 120px !important;
height: 120px !important;

       }
    }
    @media screen and (min-width:450px ) and (max-width:550px){
        .settings-title{
            font-size: 12px !important;
        }
        .page-title{
            font-size: 18px !important;
        }
        .titles{
            font-size: 10px !important;

        
        }
        .titles{
            font-size: 9px !important;

        
        }
        .inputs{
            height: 24px !important;
        
        }
       .pic{
width: 120px !important;
height: 120px !important;

       }
    }
    @media screen and (max-width:450px){
        .settings-title{
            font-size: 9px !important;
        }
        .page-title{
            font-size: 15px !important;
        }
        .buttonlittle{
            font-size: 10px !important;
        }
        .titles{
            font-size: 8px !important;

        
        }
        .inputs{
            height: 22px !important;
        
        }
    
       .pic{
width: 120px !important;
height: 120px !important;

       }
    }
    
    .under{
        text-underline-offset: 9px; 
    }
    .input6{
        border-radius: 8px;
        border: 1.5px solid grey ;
        height: 45px;
        width: 220px;
    }
    .input7{
        border-radius: 8px;
    border: 1.5px solid grey ;
        height: 45px;
        width: 520px;
    }
    
    .hovering:hover{
        opacity:0.4 ;
        display:block !important;
        cursor: pointer;
        }
        .text2{opacity:0;z-index:30;}
        .hovering:hover .text2{opacity: 1 !important;}
        .focus{
    
            border: blue 2.5px solid;
            
        
        
        }
    
        .btn-10{
            font-family: "Helvetica Neue",Helvetica,Arial;
            border-radius: 23px;
        border: 1.4px solid rgb(0, 0, 0);
            height: 35px;
            width: 100px;
            background-color: rgb(255, 255, 255);
        }
        .btn-9{
            font-family: "Helvetica Neue",Helvetica,Arial;
            border-radius: 23px;
        border: 2px solid rgb(5, 138, 255);
            height: 35px;
            width: 100px;
            background-color:  rgb(5, 138, 255);
        }
        .btn-22{
            font-family: "Helvetica Neue",Helvetica,Arial;
            border-radius: 23px;
        border: 2px solid rgb(5, 138, 255);
            height: 35px;
    padding:4px 20px;        background-color:  rgb(5, 138, 255);
        }
        .btn-11{
            font-family: "Helvetica Neue",Helvetica,Arial;
            border-radius: 23px;
        border: 2px solid rgb(5, 138, 255);
            height: 38px;
            width: 150px;
            background-color:  rgb(5, 138, 255);
        }
        .emaili{    position: relative;
            margin-top: 61px;
            right: 29%;}
       