.navbar
{
    display: flex;
    background-color: rgb(77, 76, 76);
    justify-content:space-between;
    height: 8%;
    border-radius: 5px;
}
.Links
{ margin-right: 2%;
   display: flex;
   gap: 10px;
   
}
.logo
{   display:flex ;
    height: 100%;
    margin-Left:'2%';
    text-Decoration:none;
    color:white;
    text-align: center;
    gap: 3px;

}
.logo[img]
{
    width: 50%;
    height: 50%;
    align-self: center;
}
.link:hover
{ transform: scale(1.1);

}
