.title{
    font-size: 35px;
}
.little{
    font-size: 15px;

}
.width-small{
width:380px;

}
.width-small2{
width:370px;

}


@media screen and (max-width:900px){
    .title{
        font-size: 25px;
    }
    .little{
        font-size: 13px;
    
    }
    .little2{
        font-size: 14px !important;
    
    }
    .width-small2{
    width:300px;
    
    }
    
    }
    .btn-21{
        font-family: "Helvetica Neue",Helvetica,Arial !important;
    background-color: #0C82EE;
        border-radius: 23px !important;
        height: 36px;
     padding: 0px 20px;
        border: 1px solid #0C82EE;
    }
    .btn-20{
        font-family: "Helvetica Neue",Helvetica,Arial !important;
    background-color: #9c9c9c;
        border-radius: 23px !important;
        height: 36px;
     padding: 0px 20px;
        border: 1px solid #9c9c9c;
    }