.title{
    font-size: 35px;
}
.little{
    font-size: 15px;

}
.width-small{
width:380px;

}
@media screen and (max-width:900px){
    .title{
        font-size: 25px;
    }
    .little{
        font-size: 13px;
    
    }
    .width-small{
    width:280px;
    
    }
    
    }