.nav{
    height:75px;
    background-color:#1E1E1E
}
.margin-left{
    margin-left:100px;
}
.margin-left2{
    margin-left:170px;
}
.notactive,.notactive:hover{
    text-decoration: none;
    color:white;
    margin-left: 17px;
    margin-right: 17px;}
.active{
    color: #0B44FF;
    margin-left: 17px;
    margin-right: 17px;
    text-underline-offset: 7px; 
}
